* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first-color {
  background: #233142;
}

.second-color {
  background: #455d7a;
}

.third-color {
  background: #f95959;
}

.fourth-color {
  background: #e3e3e3;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.country-list {
  border: 2px solid red;
}

.country-list-header {
  border: 2px solid blue;
  margin-bottom: 20px;
}

.country-list-title {
  border: 2px solid green;
  text-align: center;
  margin-top: 10px;
  color: #455d7a;
}

.view-mode-button {
  border: 2px solid red;
  display: block;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f95959;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #f00000;
  }
  &:active {
    background-color: #f95959;
  }
  font-size: 16px;
  font-weight: bold;
}

.controls {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.search-container {
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.filter-container {
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.search-input {
  border: 2px solid red;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.search-type-select,
.filter-select,
.sort-select {
  border: 2px solid blue;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.search-button {
  border: 2px solid green;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  background-color: #f95959;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #f00000;
  }
  &:active {
    background-color: #f95959;
  }
}

@media screen and (max-width: 1770px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1310px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .controls {
    flex-direction: column;
  }

  .search-container {
    margin: 0;
  }

  .filter-container {
    margin: 0;
  }
}

@media screen and (max-width: 850px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .search-input,
  .search-type-select,
  .search-button,
  .filter-select,
  .sort-select {
    width: 100%;
    font-size: 3vw;
  }

  .search-type-select option,
  .filter-select option,
  .sort-select option {
    font-size: 2.5vw;
  }
}
